html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(3, 3, 3);
  overflow-x: hidden;
  cursor: none;
  user-select: none;
  -webkit-user-select: none;
  color: white;
}

p, ul {
  font-family: "Lora", monospace;
}

a {
  color: #bbff00;
}

/* General */

.tile {
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
}

.tile-bar {
  min-height: max(5vh, 40px);
  background-color: #202020;
  border-bottom: 1px solid #3a3a3a;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #919191;
  font-family: monospace;
  font-size: 1rem;
}

footer.tile-bar {
  border-top: 1px solid #3a3a3a;
  border-bottom: none;
}

.tile-content {
  padding: 20px 40px;
}

h2 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 5rem;
}

p, ul {
  font-size: min(1.8vw, 24px);
}

/* Frontpage */

#frontpage {
  height: calc(100vh - 61px * 2);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow-x: hidden;
}

#frontpage section {
  padding: 20px 50px;
}

#grid-wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;
  height: calc(100vh - 61px * 2);
  width: 100vw;
  position: absolute;
  perspective: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#grid {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;
  height: 100%;
  width: 400vw;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
}

#introduction {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#introduction h1 {
  font-weight: 300;
  font-size: min(10vw, 150px);
  line-height: 0.7em;
  margin: 0;
  color: #bbff00;
}

#introduction #name {
  font-family: "UnifrakturMaguntia", sans-serif;
  letter-spacing: -5px;
}

#introduction #surname {
  font-family: "Vina Sans", sans-serif;
  letter-spacing: -5px;
  transform: translateX(-7px);
}

#subtitle {
  margin: 20px 0;
  display: flex;
}

#subtitle h3 {
  font-size: min(4vw, 40px);
  /* text-transform: uppercase; */
  font-weight: 100;
  margin: 0 30px 0 0;
}

#github-btn, #github-btn img {
  height: min(3vw, 40px);
  width: min(3vw, 40px);
}

#github-btn {
  margin: auto 0;
}

#about p {
  max-width: calc(100vw - 40px);
}

#contact p {
  font-size: 330%;
  font-family: "Le Murmure", sans-serif;
  white-space: nowrap;
  color: #4d4d4d;
}

/* Marquee */

#top-marquee, #bottom-marquee {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #3a3a3a;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#bottom-marquee {
  border-top: 1px solid #3a3a3a;
}

.marquee {
  white-space: nowrap;
  animation: marquee linear 20s infinite;

  font-size: 28px;
  font-family: "Handjet", sans-serif;
  word-spacing: 16px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ffffff;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-25%);
  }
}

.marquee a {
  color: inherit;
  text-decoration: none;
}

/* Articles */

.project {
  padding: 20px;
  height: 100vh;
  /* height: 200vh; */
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project .tile {
  margin-top: 20px;
}

#img-box {
  position: sticky;
  width: 50%;
  top: 0;
  float: right;
  display: block;
}

#img-box .tile {
  margin: 20px;
  margin-left: 0;
  display: grid;
  position: relative;
  top: 5vh;
  opacity: 0;
  transition: all 0.3s ease-out;
}

#img-box a {
  overflow: hidden;
}

#img-box img {
  object-fit: cover;
  height: calc(50vh - max(5vh, 40px) - 33px);
  width: 100%;
  display: block;
  transition: transform 0.3s ease-out;
}

#img-box img:hover {
  transform: scale(1.05);
  overflow: hidden;
}

ul {
  list-style-type: "\2713\0020";
  list-style-position: outside;
}

h2.flash {
  font-family: "Handjet", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 0 0 20px #ffffff;
}

.flash-letter {
  color: #303030;
  text-shadow: none;
}

.lit-letter {
  color: white;
  text-shadow: 0 0 20px #ffffff;
}

/* Cursor */

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference;
  position: fixed;
  top: -20px;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

#cursor.active-cursor {
  animation: cursor 2.5s infinite;
}

#cursor.active-cursor::after {
  content: "";
  background: white;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 25%;
  left: 25%;
  animation: cursor-after 2.5s 1s infinite;
}

@keyframes cursor {
  0% {
    border-radius: 50%;
    transform: rotate(0deg);
  }
  20% {
    border-radius: 0%;
    transform: rotate(0deg);
  }
  40% {
    border-radius: 0%;
    transform: rotate(45deg);
  }
  60% {
    border-radius: 0%;
    transform: rotate(45deg) scaleY(0.5);
  }
  80% {
    border-radius: 0%;
    transform: rotate(45deg) scaleY(0.5);
  }
  80.0001% {
    border-radius: 0%;
    transform: rotate(45deg);
  }
  100% {
    border-radius: 50%;
    transform: rotate(45deg);
  }
}

@keyframes cursor-after {
  0% {
    border-radius: 0%;
    transform: none;
  }
  20% {
    border-radius: 0%;
    transform: scaleY(4);
  }
  40% {
    border-radius: 0%;
    transform: scaleY(4) scaleX(2);
  }
  40.0001% {
    transform: none;
  }
  60% {
    border-radius: 50%;
    transform: none;
  }
}

/* Mobile devices - portrait + landscape (keeps images on the right) */
@media screen and (max-width: 1000px) {
  * {
    cursor: initial;
  }

  body {
    overflow-y: auto;
    pointer-events: none;
  }

  a {
    cursor: pointer;
    pointer-events: all;
  }

  img {
    cursor: unset;
  }

  h2 {
    font-size: 3rem;
  }

  p, ul {
    font-size: 20px;
  }

  #cursor {
    display: none;
  }

  .tile-content {
    padding: 20px;
  }

  #frontpage {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #frontpage section {
    padding: 20px;
  }

  #grid-wrapper {
    display: none;
  }

  #introduction {
    margin-top: 20px;
  }

  #introduction h1 {
    font-size: 100px;
    line-height: 70px;
  }

  #introduction #name {
    letter-spacing: -4px;
  }

  #subtitle {
    margin: 30px 0;
  }

  #subtitle h3 {
    font-size: 24px;
  }

  #github-btn, #github-btn img {
    height: 30px;
    width: 30px;
  }

  #contact p {
    font-size: 200%;
  }

  .project {
    height: max-content;
  }
}

/* Mobile devices - portrait only (sticks images to bottom) */
@media screen and (max-width: 1000px) and (min-height: 500px) {
  .project {
    margin-bottom: 40vh;
    width: 100%;
    justify-content: flex-start;
  }

  #img-box {
    width: 100%;
    float: none;
    display: flex;
    top: 60vh;
    height: 0px;
  }

  #img-box .tile {
    height: 40vh;
    margin: 0;
    border-radius: 0;
    border: none;
    top: 0;
    opacity: 1;
  }

  #img-box .tile .tile-bar {
    display: none;
  }

  .show-desktop {
    display: none;
  }

  #contact p {
    color: white;
  }
}